.calculator {
  max-width: 200px;
  margin: auto;
}

.grid-wrapper {
  display: grid;
  background-color: #2c3e50;
  grid-template-areas: 'head head head head' 'result result result result';
  padding: 10px;
  grid-gap: 5px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
}

.head {
  grid-area: head;
  color: rgba(255, 255, 255, 0.856);
  text-align: right;
  padding: 5px;
  background-color: #272727;
}

.result {
  grid-area: result;
  text-align: right;
  background-color: #d7dadb;
  padding: 10px;
  color: #152029;
  font-size: 250%;
}

.number {
  text-align: center;
  background-color: #6dbcdb;
}

.operator {
  text-align: center;
  background-color: #fc4349;
}
